= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "Please correct the #{pluralize(@user.errors.count, "error")} below and try again:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label "E-Mail"
    = f.email_field :email, class: "form-control", placeholder: "name@example.com"
  .field.form-group
    = f.label "Country"
    = f.country_select :country, ["United States"], class: "form-control"
  -#
    .field.form-group
      = f.label "How much would you be willing to pay for this service? ($/month)"
      = f.text_field :cost, class: "form-control", placeholder: "0"
  .field.form-group
    = f.label "How do you envision yourself using this service?"
    = f.text_area :use, class: "form-control", rows: 5, placeholder: "Elaborate here..."
  .field.form-group
    = f.label "Any additional comments or suggestions?"
    = f.text_area :comments, class: "form-control", rows: 5, placeholder: "Please let us know your thoughts..."
  .actions
    = f.submit 'Submit', class: "btn btn-primary pull-right"
  .clearfix
