= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :country
    = f.country_select :country, ["United States"]
  .field
    = f.label :cost
    = f.text_field :cost
  .field
    = f.label :use
    = f.text_area :use
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit 'Save'
